<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
	<div th:fragment="footer" id="footer">
		<div id="footer-content">
			<div class="footer-logo"></div>
			<div id="footer-left">
				<div class="grid_main">
					<!--?php print $start;?-->
					©
					<!--? print date('Y'); ?-->
					- Developed by TELUS International - Information Services
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="jscripts">
		<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script	src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
		<script th:src="@{/js/include/jquery.ui.touch-punch.min.js}"></script>
		<script th:src="@{/js/include/jquery.jgrowl.min.js}"></script>		
		<!-- REQUIRED: Functional Widgets -->
		<script th:src="@{/js/include/mobiledevices.min.js}"></script>
		<!-- DISABLED (only needed for IE7 <script th:src="@{/js/include/json2.js"></script> -->
		<!-- REQUIRED: Bootstrap engine -->
		<script th:src="@{/js/include/bootstrap.min.js}"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.16/datatables.min.js"></script>
	</div>
</body>
</html>