<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<div th:fragment="table">
		<style>
.hovered tbody>tr:hover {
	background-color: #8c68a6;
	color: white;
}

.hovered tbody>tr:hover td.sorting_1 {
	background-color: #49166d;
	color: white;
}

.hovered tbody {
	cursor: pointer;
}

tfoot input {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}

tfoot {
	display: table-header-group;
}
</style>
		<table class="table table-bordered responsive hovered"
			id="ti_account_map" aria-describedby="ti_account_map">
			<thead>
				<tr>
					<th>Client Name</th>
					<th>Business Unit</th>
					<th>TI Director</th>
					<th>Program</th>
					<th>Start Date</th>
					<th>Status</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Client Name</th>
					<th>Business Unit</th>
					<th>TI Director</th>
					<th>Program</th>
					<th>Start Date</th>
					<th>Status</th>
				</tr>
			</tfoot>
			<tbody>
				<tr th:each="accountMap : ${accountMapList}"
					th:attr="data-href=@{'/editor/'+${accountMap.id}+'/acc_map/'}">
					<td th:text="${accountMap.Client__c}"></td>
					<td th:text="${accountMap.Business_Unit__c}"></td>
					<td th:text="${accountMap.TI_Director__c}"></td>
					<td th:text="${accountMap.Program__c}"></td>
					<!-- <td th:text="${#dates.format(accountMap.Start_Date__c, 'dd/MM/YYYY')}"></td> -->
					<td th:text="${accountMap.Start_Date__c}"></td>
					<td th:text="${accountMap.Status__c}"></td>
				</tr>
			</tbody>

		</table>
	</div>
	<script th:fragment="jscript">
		$(document)
				.ready(
						function() {

							$('table.hovered').on(
									'click',
									'tbody tr',
									function() {
										window.location.href = $(this).data(
												'href');
									});

							$('#ti_account_map tfoot th')
									.each(
											function() {
												var title = $(this).text();
												$(this)
														.html(
																'<input type="text" placeholder="Search '+title+'" />');
											});

							var table = $('#ti_account_map').DataTable({
								"lengthChange" : false
							});
							table
									.columns()
									.every(
											function() {
												var that = this;

												$('input', this.footer())
														.on(
																'keyup change',
																function() {
																	if (that
																			.search() !== this.value) {
																		that
																				.search(
																						this.value)
																				.draw();
																	}
																});
											});
						});
	</script>
</body>
</html>