<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<div th:fragment="table">
		<style>
tfoot input {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}

tfoot {
	display: table-header-group;
}
</style>
		<table class="table table-striped table-bordered responsive"
			id="ti_contract" aria-describedby="ti_contract_info">
			<thead>
				<tr>
					<th>Contract ID</th>
					<th>Contract Name</th>
					<th>Type(s) of Work</th>
					<th>Channel(s) Type</th>
					<th>Team Member Headcount</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th>Contract ID</th>
					<th>Contract Name</th>
					<th>Type(s) of Work</th>
					<th>Channel(s) Type</th>
					<th>Team Member Headcount</th>
				</tr>
			</tfoot>
			<tbody>
				<tr th:each="contract : ${contract_list}">
					<td>
					<a th:href="@{'/editor/' + ${contract.id} + '/contract'}" th:text="${contract.id}">Element ID</a>
					</td>
					<td th:text="${contract.name}"></td>
					<td th:text="${contract.Type_of_Work__c}"></td>
					<td th:text="${contract.Channel_Type__c}"></td>
					<td th:text="${contract.Team_Member_Headcount__c}"></td>
				</tr>
			</tbody>

		</table>
	</div>
	<script th:fragment="jscript">
		$(document).ready(function() {
			$('#ti_contract tfoot th').each(
					function() {
						var title = $(this).text();
						$(this).html('<input type="text" placeholder="Search '+title+'" />');
					});
			var table = $('#ti_contract').DataTable({
				"lengthChange" : false
			});
			table.columns().every(function() {
				var that = this;

				$('input', this.footer()).on('keyup change', function() {
					if (that.search() !== this.value) {
						that.search(this.value).draw();
					}
				});
			});
		});
	</script>
</body>
</html>