<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: css">
</head>

<body>
	<!-- .height-wrapper -->
	<div class="height-wrapper">
		<!-- header -->
		<header th:replace="fragments/header :: hlogo"></header>
		<div id="main" role="main" class="container-fluid">
			<div class="contained">
				<aside th:replace="fragments/header :: aside(isUser=true)"></aside>
				<!-- main content -->
				<div id="page-content">
					<h1 id="page-header">User Management List</h1>
					<div>
<style>
tfoot input {
	width: 100%;
	padding: 3px;
	box-sizing: border-box;
}

tfoot {
	display: table-header-group;
}
</style>
						<table class="table table-striped table-bordered responsive"
							id="ti_user_table" aria-describedby="ti_user_table">
							<thead>
								<tr>
									<th>User ID</th>
									<th>Windows Login</th>
									<th>Workday ID</th>
									<th>Role assigned</th>
									<th>Inserted Date</th>
								</tr>
							</thead>
							<tfoot>
								<tr>
									<th>User ID</th>
									<th>Windows Login</th>
									<th>Workday ID</th>
									<th>Role assigned</th>
									<th>Inserted Date</th>
								</tr>
							</tfoot>
							<tbody>
								<tr th:each="user : ${userList}">
									<td><a th:href="@{'/admin/'+${user.useId}+'/edit/user'}"
										th:text="${user.useId}"></a></td>
									<td th:text="${user.useAdUser}"></td>
									<td th:text="${user.useWdId}"></td>
									<td
										th:text="${#strings.capitalize(#strings.toLowerCase(user.useRole.rolName))}"></td>
									<td th:text="${user.useInsertedDate}"></td>
								</tr>
							</tbody>
						</table>
						<a class="btn btn-info" th:href="@{/admin/new_user}" role="button">Add new user.</a>
						<br /><br />
					</div>					
				</div>
			</div>
		</div>
	</div>
	<br />
	<br />
	<div th:replace="fragments/footer :: footer"></div>
	<div th:replace="fragments/footer :: jscripts"></div>
	<script>
		$(document).ready(function() {
			$('#ti_user_table tfoot th').each(function() {
				var title = $(this).text();
				$(this).html('<input type="text" placeholder="Search '+title+'" />');
			});
			
			var table = $('#ti_user_table').DataTable({
				"lengthChange" : false
			});
			table.columns().every(function() {
				var that = this;

				$('input', this.footer()).on('keyup change', function() {
					if (that.search() !== this.value) {
						that.search(this.value).draw();
					}
				});
			});
		});
	</script>
</body>
</html>